.highest {
  background-color: #414753;
  position: relative;
}

.App {
  margin-top: 300px;
  margin-left: 260px;
  margin-bottom: 300px;
  display: inline-block;
  block-size: 400px;
  padding: 20px;
  border: solid;
  border-color: whitesmoke;
  font-family: 'Stylus BT';

}

h1 {
  color: white;
  text-align: left;

}

img {
  max-block-size: 40%;
  border-radius: 8px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 
  0 9px 20px 0 rgba(0, 0, 0, 0.19);
}
h2 {
  text-align: right;
  color: white;
}
p {
  text-align: right;
  color:white 
}


